.noMargin {
    margin-bottom: 0;
    margin-top: 0;
}

.inlineD2M {
    display: inline-block;
}

button {
    height: 35px;
}

.senden {
    display: flex;
    justify-content: space-between;
}

.breiteFest {
    flex: initial;
}

.breiteRest {
    flex: 1;
}

.vertikalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btnD2M{
    display: flex;
    align-items: flex-end;
}

.nav-link{
    display: inline-block;
}

.heightD2M {
    height: 35px;
}

.hide{
    visibility: hidden;
}
