<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>d2m Beitrag erstellen</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <link href="css/half-slider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">D2M</a><a i class="material-icons" href="/">home</ai></a>
        <div th:if="${currentUser != null}" class="text-white"
             th:text="${'Hallo ' + currentUser.name + '!'}" ></div>
        <div th:if="${currentUser == null}" class="text-white">
            Hallo Unbekannter!</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div th:if="${currentUser != null && currentUser.admin}">
                        <a class="nav-link" href="/addAdmin">Admin-Verwaltung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser == null}">
                        <a class="nav-link" href="/login">Einloggen</a>
                        <a class="nav-link" href="/registrierung">Registrierung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>

<section class="py-5">
    <div class="container">
        <h1>Neuen Beitrag erstellen</h1>
        <form th:action="@{beitrag}" th:object="${beitrag}" method="post">
            <br/>
            <h6>Wähle deine Kategorien:</h6>
            <th:block th:each="kategorie : ${kategorien}">
                <input type="checkbox" th:field="*{kategorieIdList}" th:value="${kategorie.id}" id="checkeins">
                <label for="checkeins" th:text="${kategorie.kategorieName}"></label> &nbsp;&nbsp;
            </th:block>
            <br/>
            <a href="/addKategorie" role="button" class="btn btn-outline-secondary"> Neue Kategorie kreieren</a>
            <br/><hr>
            <h6>Beitrag Titel: </h6><input type="text" th:field="*{titel}">
            <br/>
            <br/>
            <h6>Beitrag Inhalt: <h6/><textarea rows="4" cols="50" th:field="*{text}"></textarea>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
    </div>
</section>


<!-- Footer -->
<footer class="fixed-bottom py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; D2M Website 2018</p>
        <p class="m-0 text-center text-white"><a href="/impressum">Impressum</a></p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
