<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--<link th:href="@{/style.css}" href="../static/css/home-style.css" rel="stylesheet" type="text/css" media="all"/>-->
    <link href="css/home-style.css" rel="stylesheet" type="text/css" media="all"/>

    <title>Administrator hinzufügen</title>
</head>
<body>
<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">D2M</a><a i class="material-icons" href="/">home</ai></a>
        <div th:if="${currentUser != null}" class="text-white"
             th:text="${'Hallo ' + currentUser.name + '!'}" ></div>
        <div th:if="${currentUser == null}" class="text-white">
            Hallo Unbekannter!</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div th:if="${currentUser != null && currentUser.admin}">
                        <a class="nav-link" href="/addAdmin">Admin-Verwaltung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser == null}">
                        <a class="nav-link" href="/login">Einloggen</a>
                        <a class="nav-link" href="/registrierung">Registrierung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="py-5">
    <br/>
    <div class="container">
        <h1 class="text">Administratorenverwaltung</h1>
        <h5 class="text">Wen möchtest du als Administrator hinzufügen?</h5>
        <form th:action="@{/addAdmin}" th:object="${adminDTO}" method="post">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">User-Name</th>
                    <th scope="col">Admin</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <th:block th:each="user: ${users}">
                    <tr>
                        <th type="row" th:text="${user.name}"></th>
                        <td>
                            <div class="form-check">
                                <div>
                                    <input class="form-check-input" th:disabled="${currentUser == user}"
                                           th:field="*{adminIds}" type="checkbox" th:value="${user.id}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="float-right">
                <button class="btn btn-primary" type="submit">Änderungen speichern</button>
            </div>
        </form>
        <br>
    </div>
</section>

<!-- Footer -->
<footer class="fixed-bottom py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; D2M Website 2018</p>
        <p class="m-0 text-center text-white"><a href="/impressum">Impressum</a></p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>