<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--<link th:href="@{/style.css}" href="../static/css/home-style.css" rel="stylesheet" type="text/css" media="all"/>-->
    <link href="css/home-style.css" rel="stylesheet" type="text/css" media="all"/>

    <title>Änderungsverzeichnis</title>
</head>
<body>
<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">D2M</a><a i class="material-icons" href="/">home</ai></a>
        <div th:if="${currentUser != null}" class="text-white"
             th:text="${'Hallo ' + currentUser.name + '!'}" ></div>
        <div th:if="${currentUser == null}" class="text-white">
            Hallo Unbekannter!</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div th:if="${currentUser != null && currentUser.admin}">
                        <a class="nav-link" href="/addAdmin">Admin-Verwaltung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser == null}">
                        <a class="nav-link" href="/login">Einloggen</a>
                        <a class="nav-link" href="/registrierung">Registrierung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Darstellung alter Beiträge-->
<section class="py-5">
    <br/>
    <div class="container">
        <h1>Änderungsverzeichnis</h1>
        <h5>Aktuelle Version:</h5>
        <!--aktueller Beitrag-->
        <div class="card">
            <!--Card - Header-->
            <div class="card-header container">
                <div class="text-muted font-italic">
                    <div th:if="${beitrag.archivbeitraege.size() == 0}"
                         th:text="${'Beitrag von ' + beitrag.user.name}">
                    </div>
                    <div th:if="${beitrag.archivbeitraege.size() != 0}"
                         th:text="${'Änderungen von ' + beitrag.user.name}">
                    </div>
                </div>
            </div>
            <!--Card - Body-->
            <div class="card-body container">
                <h5 class="card-title" th:text="${beitrag.titel}"></h5>
                <p class="card-text" th:text="${beitrag.text}"></p>
            </div>
            <!--Card - Footer-->
            <div class="card-footer text-muted font-italic">
                <div th:if="${beitrag.archivbeitraege.size() == 0}"
                     th:text="${'erstellt am: ' + dateFormatter.format(beitrag.erstellungsDatum) + ' Uhr'}">
                </div>
                <div th:if="${beitrag.archivbeitraege.size() != 0}"
                     th:text="${'geändert am: ' + dateFormatter.format(beitrag.erstellungsDatum) + ' Uhr'}">
                </div>
            </div>
        </div>
        <br>
        <!--alte Beiträge-->
        <h5>Vorherige Versionen:</h5>
        <div th:if="${beitrag.archivbeitraege.size() == 0}">
            Es wurden bisher keine Änderungen an diesem Beitrag vorgenommen.
        </div>
        <th:block th:each="archivbeitrag,iterStat : ${archivbeitraege}">
            <div class="card">
                <div class="card-header container">
                    <div class="text-muted font-italic">
                        <div th:if="${iterStat.last}"
                             th:text="${'Ursprungsbeitrag von ' + archivbeitrag.user.name}">
                        </div>
                        <div th:if="${not iterStat.last}"
                             th:text="${'Änderungen von ' + archivbeitrag.user.name}">
                        </div>
                    </div>
                </div>
                <!--Card - Body: Beitrag-->
                <div class="card-body container">
                    <h5 class="card-title" th:text="${archivbeitrag.titel}"></h5>
                    <p class="card-text" th:text="${archivbeitrag.text}"></p>
                </div>
                <!--Card - Footer-->
                <div class="card-footer text-muted font-italic">
                    <div th:if="${iterStat.last}"
                         th:text="${'erstellt am: ' + dateFormatter.format(archivbeitrag.erstellungsDatum) + ' Uhr'}">
                    </div>
                    <div th:if="${not iterStat.last}"
                         th:text="${'geändert am: ' + dateFormatter.format(archivbeitrag.erstellungsDatum) + ' Uhr'}">
                    </div>
                </div>
            </div>
            <br>
        </th:block>
    </div>
</section>
<br>
<br>
<br>

<!-- Footer -->
<footer class="fixed-bottom py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; D2M Website 2018</p>
        <p class="m-0 text-center text-white"><a href="/impressum">Impressum</a></p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>