<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Bestes Projekt</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!--<link th:href="@{/home-style.css}" href="../static/css/home-style.css" rel="stylesheet" type="text/css" media="all"/>-->
    <link href="css/home-style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/half-slider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">D2M</a>
        <div th:if="${currentUser != null}" class="text-white"
                th:text="${'Hallo ' + currentUser.name + '!'}" ></div>
        <div th:if="${currentUser == null}" class="text-white">
                Hallo Unbekannter!</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div th:if="${currentUser != null && currentUser.admin}">
                        <a class="nav-link" href="/addAdmin">Admin-Verwaltung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser == null}">
                        <a class="nav-link" href="/login">Einloggen</a>
                        <a class="nav-link" href="/registrierung">Registrierung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('img/berge.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Berge</h3>
                    <p>Individuell reisen in Kanada: Reiseberichte, Tipps & Infos für den nächsten Roadtrip</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/strand.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Strände</h3>
                    <p>Sommer, Sonne, Strand und Meer – Wir lieben es!</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/stadt.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Städte</h3>
                    <p>Reiseberichte, Tipps, Highlights und vieles mehr über die schönsten Städte der Welt.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class=" text-center">D2M nimmt Dich mit auf spannende Reisen</h1>
        <p class="text-justify">
            Du liebst es zu reisen?? Dann bist du hier genau richtig!
            Wir nämlich auch! Schau dich hier doch mal ein bisschen um und teile deine
            unvergesslichen Reiseerlebnisse mit uns. Wir freuen uns darüber.
            Interessieren dich nur bestimmte Themen? Dann nutze doch unsere Kategorieauswahl!
            Viel Spaß beim Entdecken!
        </p>

        <!--neuen Beitrag hinzufügen-->
        <div th:if="${currentUser != null && currentUser.admin}">
            <a class="btn btn-primary vertikalCenter" href="/beitrag" role="button">
                <i class="material-icons">note_add</i>
                &nbspBeitrag hinzufügen
            </a>
        </div>
        <br>
        <div>
            <p class="text">Wähle Kategorien, zu denen dir Beiträge angezeigt werden sollen:</p>
            <form class="mb-2" th:action="@{alleZeigen}" method="post">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Alle anzeigen</button>
            </form>
            <form th:action="@{kategorienWaehlen}" th:object="${homeDTO}" method="post">
                <th:block th:each="kategorie : ${kategorien}">
                    <input type="checkbox" th:field="*{kategorieIdList}" th:value="${kategorie.id}"
                           id="checkeins">
                    <label for="checkeins" th:text="${kategorie.kategorieName}"></label>
                    &nbsp;&nbsp;
                </th:block>
                <br>
                <button type="submit" class="btn btn-outline-secondary btn-sm">Kategorien wählen</button>
            </form>
            <br>
        </div>

        <br>

        <!--Anzeige der Beiträge-->
        <div>
            <th:block th:each="beitrag : ${beitraege}">
                <a th:attr="name=${'beitrag-' + beitrag.id}"></a>
                <div class="card">
                    <!--Card - Header-->
                    <div class="card-header container">
                        <div class="row">
                            <div class="col text-muted font-italic">
                                <div th:if="${beitrag.archivbeitraege.size() == 0}"
                                     th:text="${'Beitrag von ' + beitrag.user.name}">
                                </div>
                                <div th:if="${beitrag.archivbeitraege.size() != 0}">
                                    <div th:text="${'Beitrag von ' +
                                        beitrag.archivbeitraege.get(beitrag.archivbeitraege.size()-1).user.name}">
                                    </div>
                                    <div th:text="${'zuletzt geändert durch: ' + beitrag.user.name}"></div>
                                </div>
                            </div>
                            <div class="col text-right">
                                <!--Link - Beitrag ändern-->
                                <form class="inlineD2M">
                                    <a class="heightD2M btn btn-secondary btn-sm"
                                       th:href="@{getEditBeitrag(beitragId=${beitrag.id})}"
                                       title="Bearbeiten"
                                       th:if="${currentUser != null && currentUser.admin}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </form>
                                <!--Button - Beitrag löschen-->
                                <form class="inlineD2M" th:action="@{beitragLoeschen(beitragId=${beitrag.id})}"
                                      th:object="${beitrag}"
                                      method="post" th:if="${currentUser != null && currentUser.admin}">
                                    <button type="submit" class="btn btn-secondary btn-sm"
                                            title="Löschen">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                                <!--Link - Beitragsverlauf anzeigen-->
                                <form class="inlineD2M">
                                    <a class="heightD2M btn btn-secondary btn-sm"
                                       th:href="@{showArchiv(beitragId=${beitrag.id})}"
                                       title="Verlauf anzeigen">
                                        <i class="material-icons">history</i>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Card - Body: Beiträge-->
                    <!--Beiträge anzeigen-->
                    <div class="card-body container">
                        <!--Kategorien anzeigen-->
                        <th:block th:each="kategorie, iterStat :${beitrag.kategorien}">
                            <span th:if="${iterStat.first}" class="text-muted font-weight-light">
                                 Kategorien:&nbsp; </span>
                            <span th:if="${iterStat.first}"
                                 th:text="${kategorie.kategorieName}"></span>
                            <span th:if="${not iterStat.first}"
                                 th:text="${' - ' + kategorie.kategorieName}"></span>
                        </th:block>
                        <hr>
                        <!--Beitrag-->
                        <h5 class="card-title" th:text="${beitrag.titel}"></h5>
                        <p class="card-text" th:text="${beitrag.text}"></p>
                    </div>

                    <hr class="noMargin">

                    <!--Card - Body: Kommentare-->
                    <!--Kommentare anzeigen-->
                    <div class="card-body container">
                        <p>
                            <a class="text" data-toggle="collapse" th:href="'#collapseKommentar' + ${beitrag.id}"
                               role="link"
                               aria-expanded="false">Kommentare</a>
                        </p>
                        <div class="collapse" th:id="'collapseKommentar' + ${beitrag.id}">
                            <th:block th:each="kommentar: ${beitrag.kommentare}">
                                <div class="container">
                                    <div class="row bg-light pt-2">
                                        <div class="col text-muted font-italic" th:text="${kommentar.user.name + ', ' +
                                    dateFormatter.format(kommentar.erstellungsDatum) + ' Uhr'}"></div>
                                        <div class="col text-right">
                                            <form th:action="@{kommiLoeschen(kommentarId=${kommentar.id})}"
                                                  th:object="${kommentar}"
                                                  method="post">
                                                <p th:if="${currentUser != null && (currentUser == kommentar.user || currentUser.admin)}">
                                                    <button type="submit" class="btn btn-secondary btn-sm"
                                                            title="Löschen">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row bg-light">
                                        <div class="col">
                                            <p th:text="${kommentar.text}"></p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </th:block>
                            <!--Kommentar schreiben-->
                            <div th:if="${currentUser != null}">
                                <form th:action="@{kommentar(beitragId=${beitrag.id})}"
                                      th:object="${kommentar}" method="post">
                                    <div class="form-group senden">
                                        <label for="neuerKommentar" class="breiteFest mr-2">neuer Kommentar:</label>
                                        <input class="breiteRest mr-2" type="text" id="neuerKommentar"
                                               th:field="*{text}">
                                        <button type="submit" class="breiteFest mr-3 btn btn-secondary btn-sm"
                                                title="Abschicken">
                                            <i class="material-icons">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div th:if="${currentUser == null}">
                                Nur eingeloggte User können einen Kommentar schreiben.<br>
                                <a href="/login">Log dich ein</a>
                                oder
                                <a href="/registrierung">registrier dich.</a>
                            </div>
                        </div>
                    </div>

                    <!--Card - Footer-->
                    <div class="card-footer text-muted font-italic">
                        <div th:if="${beitrag.archivbeitraege.size() == 0}"
                             th:text="${'erstellt am: ' + dateFormatter.format(beitrag.erstellungsDatum) + ' Uhr'}">
                        </div>
                        <div th:if="${beitrag.archivbeitraege.size() != 0}"
                             th:text="${'geändert am: ' + dateFormatter.format(beitrag.erstellungsDatum) + ' Uhr'}">
                        </div>
                    </div>
                </div>
                <br>
            </th:block>
            </th:block>
        </div>
    </div>
    <!-- Footer-Abschnitt fängt ab hier an -->

    <div class="footer">
        <div class="footer-top">
            <div class="container"></div>
            <div class="clearfix"></div>
        </div>
    </div>

</section>

<!-- Footer -->
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; D2M Website 2018</p>
        <p class="m-0 text-center text-white"><a href="/impressum">Impressum</a></p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>