<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>d2m Login</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>


    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>
<section class="py-5">
    <div class="container">
    </br>
        <h1 class=" text-center">Impressum</h1>
        <p class="text-justify">

        <p> <b>d2m.de</b>
        Dorothee Küppers,
        Derya Gözsüz,
        Marko Budimlic,
        Großer Burstah 50-52,
        20457 Hamburg
    </p>

        <p> Telefon: +49(0)40 784512
            Telefax: +49(0)40 784513</p>

        <p>E-Mail: info@d2m.de</p>

        <p>Verantwortlicher gemäß §10 Abs.3 MDStV:
            Dorothee Küppers,
            Derya Gözsüz,
            Marko Budimlic,
            Großer Burstah 50-52,
            20457 Hamburg</p>

       <p> Redaktion:
           Dorothee Küppers,
           Derya Gözsüz,
           Marko Budimlic</p>

        <b>Inhalte und Haftungsausschluss</b>
        <p>Die vorstehenden Informationen und Texte stellen keine Rechtsberatung dar. Insbesondere bilden sie nicht den
        konkreten Einzelfall ab. Für Richtigkeit und Aktualität kann daher keine Haftung übernommen werden. Falls Sie
        eine haftungssichere Auskunft wünschen, wenden Sie sich an unsere Kanzlei.
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den
            Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

        <b>Weitergabe</b>
        <p>Sämtliche angebotenen Informationen dürfen – auch auszugsweise – nur mit schriftlicher Genehmigung von
        impressum-generator.de weiterverbreitet oder anderweitig veröffentlicht werden. Dies gilt nicht für die
            Erstellung eines Impressums durch Nutzung des Generators.</p>

        <b>Urheberrecht</b>
        <p>Texte und Grafiken von impressum-generator.de sind durch das Urheberrecht geschützt. Das Verwenden der Texte und
        Grafiken von impressum-generator.de auf eigenen Web-Seiten oder in anderen Medien ohne ausdrückliche Genehmigung
            verletzt das Urheberrecht und wird bei Entdecken abgemahnt und falls notwendig auch gerichtlich verfolgt.</p>


        </p>
    </div>
</section>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">D2M</a><a i class="material-icons" href="/">home</ai></a>
        <div th:if="${currentUser != null}" class="text-white"
             th:text="${'Hallo ' + currentUser.name + '!'}" ></div>
        <div th:if="${currentUser == null}" class="text-white">
            Hallo Unbekannter!</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div th:if="${currentUser != null && currentUser.admin}">
                        <a class="nav-link" href="/addAdmin">Admin-Verwaltung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser == null}">
                        <a class="nav-link" href="/login">Einloggen</a>
                        <a class="nav-link" href="/registrierung">Registrierung</a>
                    </div>
                </li>
                <li>
                    <div th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<section class="py-5">
</section>

<!-- Footer -->
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; D2M Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
